/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  position: sticky;
  top: 0;
  z-index: 99;
}
.banner {
  height: 60vh;
  background: url('https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c2t5c2NyYXBlcnxlbnwwfHwwfHx8MA%3D%3D') no-repeat center center/cover;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.banner h1 {
  font-size: 3rem;
}

.nav-tabs .nav-link {
  color: #333;
  cursor: pointer;
}

.nav-tabs .nav-link.active {
  background-color: #007bff;
  color: #fff;
  cursor: auto;
}

.tab-content {
  background: #f9f9f9;
  border-radius: 5px;
}

.carousel-item img {
  object-fit: cover;
  height: 400px;
}

@media (max-width: 576px) {
  .navbar-brand,
  .navbar-nav .nav-link {
      margin-left: 15px;
  }
  .navbar-toggler {
    margin-right: 20px;
  }
}